<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>2</TotalTime><Application>LibreOffice/5.4.3.2$Windows_x86 LibreOffice_project/92a7159f7e4af62137622921e809f8546db437e5</Application><Pages>1</Pages><Words>3</Words><Characters>15</Characters><CharactersWithSpaces>17</CharactersWithSpaces><Paragraphs>1</Paragraphs></Properties>