@use "sass:math";

.xml-element {
    &::before {
        content: "<";
    }

    &.end-tag::before {
        content: "</";
    }

    &::after {
        content: ">";
    }

    &.self-closing::after {
        content: "/>";
        margin-left: 0.5em;
    }

    &:not(.self-closing) .element-accessed {
        margin-right: 0.5em;
    }

    .name-part {
        $size-factor: 1.5;

        &:not(:last-of-type) {
            // color: gray;
            font-size: math.div(1em, $size-factor);
        }

        &:not(:first-of-type)::before {
            content: ".";
            // color: gray;
        }

        &:not(:first-of-type):not(:last-of-type)::before {
            font-size: 1em * $size-factor;
        }
    }

    .attribute {
        margin-left: 0.5em;

        .name::after {
            content: "=";
        }

        .value::before,
        .value::after {
            content: '"';
        }
    }
}
