.xml-node {
    padding-left: 1em;

    > :first-child,
    > :last-child {
        margin-left: -1em;
    }

    &:hover {
        background-color: #0001;
    }

    .ellipsis {
        box-shadow: 0 0 1px 1px red;
    }

    .content {
        min-width: 1em;
    }

    .element-accessed {
        width: 0.5em;
        height: 0.5em;
        margin-left: 0.5em;
        align-self: center;
        border-radius: 50%;

        &:not(.accessed):not(.not-accessed) {
            display: none;
        }
    }

    .accessed {
        background-color: rgba(4, 217, 0, 0.5);
    }

    .not-accessed {
        background-color: rgba(255, 72, 0, 0.5);
    }
}
